*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



#数据库配置文件不上传
/res/database_config.txt

#out文件夹不上传
/out/*

#编译生成文件不上传
/web/WEB-INF/classes/*

